<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test1">
    <classes>
      <class name="com.rest.apimethods.GetMethod"/>
    </classes>
  </test>
  
   <test name="Test2">
    <classes>
      <class name="com.rest.apimethods.PostMethod"/>
    </classes>
  </test>
  
   <test name="Test3">
    <classes>
      <class name="com.rest.apimethods.PutMethod"/>
    </classes>
  </test>
  
   <test name="Test4">
    <classes>
      <class name="com.rest.apimethods.PutMethodHeaders"/>
    </classes>
  </test>
  
   <test name="Test5">
    <classes>
      <class name="com.rest.apimethods.DeleteMethod"/>
    </classes>
  </test>
  
   <test name="Test6">
    <classes>
      <class name="com.rest.apimethods.PatchMethod"/>
    </classes>
  </test>
</suite> <!-- Suite -->

